@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #402116;
    --secundary: #BF7960;
    --tertiary: #F2994B;
    --quaternary: #F2D194;
    --text-color: #F2E3D5;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0,0,0,0.65)), url('../img/bgHrz-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#contact-us h2,
#contact-us .blackCoffeeSlogan {
    color: var(--tertiary);
}

#contact-us h2 {
    font-size: 5em;
    margin-bottom: 1em;
}

#contact-us .blackCoffeSlogan {
   font-size: 2em;
   text-transform: uppercase;
   max-width: 350px;
   font-weight: 800;
   margin-bottom: 1em;
}

.bi-geo-alt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
}

.local-address {
    line-height: 3em;
}

#contact-us p {
    font-size: 1em;
    margin-bottom: .3em;
}

#contact-us .blackCoffeeSlogan {
    font-weight: 700;
}

#contact-form {
    background-color: var(--tertiary);
    padding: 2em;
    max-width: 100%;
    border-radius: 10px;
}

.title-form {
    font-size: 1.5em;
    font-weight: 600;
}

#contact-form {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 1em;
}

.order-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.order-form label {
    color: var(--primary);
    margin-bottom: .3em;
    font-weight: bold;
}

.order-form input,
.order-form select {
    padding: 6px 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#observation {
    padding: .3em;
    margin-top: 0.8em;
}

textarea {
    border-radius: 5px;
    outline: none;
}

.btn-form {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.btn-form:hover {
    opacity: 1;
}

#black-coffee-categories h2 {
    background: linear-gradient(to right, #000, #00000081);
    color: var(--tertiary);
    text-align: center;
    padding: 1em;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.category {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--primary);
}

.category .category-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#category-1 {
    background-image: url('../img/banner-mini-1.jpg');
}

#category-2 {
    background-image: url('../img/banner-mini-2.jpg');
}

#category-3 {
    background-image: url('../img/banner-mini-3.jpg');
}

#environment {
    background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0,0,0,0.65)), url('../img/bgHrz-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 3em;
}

#environment-content,
#about-environment {
    max-width: 40%;
}

#environment-content {
    display: flex;
}

#icons-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    margin-bottom: 2em;
    text-align: center;
    color: var(--quaternary);
    font-size: 2em;
    margin-right: 0.5em;
}

#icons-details h6 {
    font-size: 0.4em;
    font-weight: 500;
}

#environment-details {
    text-align: left;
    font-size: 1.3em;
}

#about-environment h3 {
    color: var(--tertiary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-environment p {
    line-height: 2em;
}

#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detail img {
    width: 50%;
    border-radius: 2%;
}

.detail h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
}

#detail-1 h3 {
    font-size: 3em;
    font-weight: 700;
}

.detail-decription {
    width: 100%;
    padding-left: 2em;
}

.detail-description ul {
    list-style-position: inside;
}

.detail-description ul li {
    margin-bottom: 0.4em;
}

#cta {
    background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.534)), url('../img/bgHrz-6.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#cta h3 {
    margin-bottom: 1.2em;
    font-size: 2.5em;
    font-weight: 500;
}

#cta .btn {
    background-color: transparent;
    color: #fcba80;
    width: 20%;
    margin: 0 auto;
    padding: 8px;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 5px;
    border-color: var(--tertiary);
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#cta .btn:hover {
    opacity: 1;
    background-color: var(--tertiary);
    color: var(--primary);
    font-weight: 600;
    border-color: transparent;
    box-shadow: 0 0 10px #F2994B;
}

#footer {
    text-align: center;
    background-color: #000;
    color: var(--quaternary);
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer h3 {
    font-size: 1.5;
    margin-bottom: .5em;
}

#footer p:nth-child(2) {
    margin-bottom: 1.5em;
    font-size: 1em;
}

#footer span {
    font-weight: bold;
}

/*mobile*/
@media (max-width: 450px) {

    .btn {
        opacity: 1;
    }

    #call-to-action {
        flex-direction: column;
        height: auto;
    }

    #contact-us {
        padding: 2em;
    }

    #contact-us h2 {
        margin-bottom: .5em;
    }

    #contact-form {
        max-width: 90%;
        margin-bottom: 2em;
    }

    #black-coffee-categories h2 {
        font-size: 3em;
    }

    .categories {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .category {
        max-width: 100%;
        margin-bottom: 2em;
    }

    #environment {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    #environment-content {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #environment i {
        margin: .3em 0;
    }

    #about-environment {
        order: 1;
        max-width: 100%;
    }

    #about-environment h3 {
        font-size: 2em;
        margin-bottom: 0;
    }

    #icons-details {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 37px;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    #environment-details {
        font-size: 1em;
        padding: 1.5em;
        text-align: center;
    }

    #about-environment p {
        display: none;
    }

    .detail {
        flex-direction: column;
        margin-bottom: .5em;
        gap: 0;
    }

    .detail img {
        width: 100%;
        margin: 2em 0;
    }

    #detail-1 img {
        display: none;
    }

    #detail-description {
        padding: 0;
    }

    #detail-3 img {
        order: 2;
    }

    #detail-3 .detail-description {
        order: 1;
    }

    #cta h3 {
        text-align: center;
    }

    #cta .btn {
        width: 80%;
    }

}




