/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* 
fontes do google 

font-family: 'Archivo', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Lobster', cursive;


*/



/* 
Remover as margens internas e externas de todos os elementos(tags) html.
vamos usar o comando margin(externa) com valor 0 e o comando padding(interna) 
com o valor 0.
Utilizaremos o comando box-sizing com o valor border-box. Isso permite que 
as margens internas aplicadas ao elementos html não interfiram no tamanho 
da caixa em este elemento está.
*/

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.abrirmenu {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgba(30, 30, 30, 0.572);
    padding: 10px;
    color: white;
    font-size: 20pt;
    display: none;
}

.fecharmenu {
    text-decoration: none;
    color: white;
    font-size: 14pt;
    padding: 5px;
    background-color: red;
    display: none;
    border-radius: 30px;
    top: 10px;
    left: 160px;
}


header {
    /* Vamos aumentar a altura do header para 500px */
    /* usamos o comando background-image para 
    adicionar uma imagem de fundo ao header.
    Utilizamos o comando ../ para voltar um nível
     anterior e assim conseguir acessar a pasta 
     img que está fora da pasta css*/
    background-image: url("../img/banner-full-black-cafe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin: auto;

    /* ajustar o tamanho da foto para 100% de largura */

    /*  
    Para realizar o deslocamento da imagem de fundo
    utilizaremos comando background-position. Assim
    você pode descolocar para cima ou para baixo no
    eixo y e para direita ou esquerda no eixo x
    */

}

#cabecalho {
    /* 
    Aplicar uma cor de fundo preto com um 
    efeito de transparência. O comando será
    background-color com o valor rgba, onde "a"
    do comando rgb é o efeito de transparência 
    que varia entre 0 e 1, onde 0(zero) é 
    totalmente transparente e 1 totalmente visível
     */
    background-color: rgba(0, 0, 0, 0.576);
    height: 500px;
    color: #fff;
    margin: auto;
}


#superior {
    /*
    O comando display permite dispor os elementos de algumas maneiras, uma deles
    flex(flexivel). Isso permite que o conteudo deste elemento fique flexivel.
    */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*
    Para este exemplo foi aplicado uma estrutura flexivel em linha. Portanto o
    comando flex-direction recebeu o valor row(linha)
    */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /*
    O comando flex-wrap realiza uma quebra de linha
    */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

#superior nav {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
}

/*
Vamos retirar o marcador da lista ul. Esta lista está na parte
superior da página, dentro do id superior. O caminho que iremos 
fazer será: #superior nav ul
*/
#superior nav ul {
    /*Usaremos o comando list-style como none(nenhum) para
    retirar o marcador*/
    list-style: none;
}

footer #redes nav ul {
    list-style: none;
    display: inline ! important;
}



/*
Para dispor(display) os itens do menu em linha, utilizaremos o 
comando disply com o valor inline-block
*/
#superior nav ul li {
    display: inline-block;
    margin-right: 5%;
    padding: 10px 10px;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    margin: auto;
}

/*
Foi aplicado ao item li um atributo hover, que é atividado 
quando o usuário passa o ponteiro do mouse sobre o item li. Aplicamos 
um efeito de cor de fundo, isso permite que ao passar o mouse sobre
o link o fundo fique com uma cor diferente.
*/
#superior nav a:hover {
    color: rgb(248, 210, 0);
    /* transform: scale(1.5); */
}



#whatsapp {
    display: inline;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: end;
    padding-top: 25px;
    margin-top: -50px;
    margin-right: 20px;
}


#superior nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "arial";
    font-size: 10pt;
    font-weight: bold;
    /*
    O comando text-transform muda o formato da letra(caracter) o torando
    maiúsculo, minúsculo ou a primeira letra da palavra maiúscula.
    Tudo maiúsculo -> text-transform: uppercase
    Tudo minúsculo -> text-transform: lowercase
    Primeira letra maiúscula -> text-transform: capitalize
    */
    text-transform: uppercase;

}

#superior #whatsapp a {
    color: #fff;
    text-decoration: none;
    font-family: "arial";
}

#superior #whatsapp a {
    background-color: rgb(27, 126, 27);
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 30px;
}

#superior #whatsapp a:hover {
    background-color: rgb(74, 185, 74);
    transition: ease-in 0.2s;
}

#container-text-header {
    margin-top: -130px;
}

#cabecalho h2 {
    text-align: center;
    padding-top: 150px;
    font-family: arial;
    margin: 40px auto;
    font-size: 30px;
    /*
    Vamos aplicar um espaçamento entre as letras. O comando 
    é letter-spacing, você pode aplicar valores positivos ou negativos.
    Sendo, positivo as letras se espalham e negativo as letra se juntam
    */
}

#cabecalho p {
    width: 80%;
    margin: -25px auto;
    text-align: center;
    font-family: arial;
    font-size: 16px;
}

#cabecalho img {
    height: 100px;
    width: 100px;
    margin: -65px 0px 0px 40px;
}


/* ========================  estilos do footer ======================= */
footer {
    background-color: #000000;
    /* Vamos deixar o conteúdo do footer flexível com o comando
    display(dispor|exibir) com o valor flex e aplicar a direção 
    como row(linha) para o comando flex-direction */
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 50px;
    /* height: 250px; */
    padding-top: 60px;
    padding-bottom: auto;
    width: 100%;
}

footer h5,
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

footer #endereco {
    -webkit-box-flex: 1;
    flex: 4 1 0%;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 15px;
    padding: 30px;
    text-align: center;
    margin-bottom: -50px;
    margin-top: 40px;
}

#copyright {
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: normal;
    margin: 20px auto;
}

footer #redes {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    margin: auto;
}

footer #redes nav {
    display: contents;
    text-align: right;
    margin: auto;
}

footer #redes nav ul {
    /* para retirar o marcador, usareremos
    o comando list-style com o valor none */
    list-style: none;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 15rem ! important;
}

/*para dispor os itens de link das redes,
usaremos o comando display com o valor 
inline-block*/
footer #redes nav ul li {
    display: inline-block;
    margin-left: 20px;
}

footer #redes nav ul li a img {
    width: 32px;
    height: 32px;
}

main {
    min-width: 360px;
    max-width: 768px;
    margin: auto;
    align-items: center;
}


/* ============== estios para a página home ============ */
main h2 {
    font-family: "lobster";
    font-size: 25px;
    margin: 30px;
    text-align: center;
}

/*Nossa Localização*/
main h3 {
    font-family: "lobster";
    font-size: 40px;
    margin: 30px;
    text-align: center;
}

main p {
    margin: auto 20px;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
    font-family: "Arial";
    margin-bottom: 30px;

}


main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin: auto;
}

main #item1,
#item2,
#item3,
#item4,
#item5,
#item6 {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 32%;
    margin: 10px;
}

main section div p {
    margin: 0px;
}



main #categoria a {
    text-decoration: none;
    color: #333;
}


/* ==================== formatação do formulário ======================== */
main form {
    background-color: #000000c1;
    display: black;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin: auto 10px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 100px;
}


main form textarea {
    margin-left: 7px;
}

select {
    margin-left: 10px;
}

main form input[type=text],
main form input[type=tel],
main form input[type=email] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-bottom: 1px solid silver;
    outline: none;
    border-radius: 10px;
    margin-left: 22px;
    /*retirar a borda ao clicar no campo*/
}

main form select {
    width: 50%;
    padding: 10px;
    margin-left: 22px;
    margin-bottom: 10px;
    border: 0px;
    border-bottom: 1px solid silver;
    display: block;
}

main form textarea {
    width: 95%;
    height: 200px;
    font-family: "arial";
    padding: 10px;
    margin-left: 21px;
    display: block;
    outline-color: rgba(0, 0, 0, 0.481);
    border-radius: 10px;
    margin-bottom: 20px;
}

select {
    border-radius: 10px;
}

main form span {
    font-family: arial;
    margin-top: 10px;
    margin-left: 25px;
}

main form input[type=submit] {
    display: block;
    margin: 20px auto;
    border: 0px;
    background-color: rgb(190, 22, 22);
    color: white;
    padding: 10px;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
    width: 100px;
    border-radius: 30px;
    margin: 20px auto;
}

main form input[type=submit] {
    background-color: #000000;
}

main form input[type=submit]:hover {
    background-color: rgb(250, 15, 15);
    color: white;
    cursor: pointer;
    width: 120px;
}



/* =============== Área dos breakpoints de responsividade ==================== */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) and (max-width: 1290px) {
    header {
        background-position: 0px 0px;
        background-repeat: no-repeat;

        flex-direction: row;

    }
}


#superior nav {
    background-color: black !important;
    position: fixed;
    left: -210px;
    top: 0px;
    z-index: 10000;
    width: 200px;
    height: 100vh;
    text-align: left;
    padding-top: 100px;
    padding-left: 20px;
    transition: ease 0.5s;
}

#superior nav ul li {
    display: block;
    margin-bottom: 10px;
    margin-left: -15px;
}

.abrirmenu {
    display: block;
    width: 50px;
}


@media (min-width: 0px) and (max-width: 768px) {

    .fecharmenu {
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20pt;
        padding: 0px;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 170px;
        border-radius: 0;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 0px) and (max-width: 2000px) {

    fecharmenu {
        background-color: red;
        color: white;
        display: block;
        width: 45px;
        height: 30px;
        font-size: 18px;
        padding: 0px;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 160px;
        border-radius: 30px;
    }


    /* Large devices (desktops, 992px and up) */
    @media (min-width: 0px) and (max-width: 2000px) {
        header {
            background-position: 0px 0px;
            background-repeat: no-repeat;
            flex-direction: column;
        }

        #superior nav {
            background-color: black !important;
            position: fixed;
            left: -200px;
            top: 0px;
            z-index: 10000;
            width: 200px;
            height: 100vh;
            text-align: left;
            padding-top: 100px;
            padding-left: 20px;
            transition: ease 0.5s;
        }

        #superior nav ul li {
            display: block;
            margin-bottom: 10px;
        }

        .abrirmenu {
            display: block;
            width: 40px;
        }


        .fecharmenu {
            background-color: red;
            color: white;
            display: block;
            width: 40px;
            height: 30px;
            font-size: 18px;
            padding: 0px;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 160px;
            border-radius: 30px;
        }
    }

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1200px) {}